spring:
  config:
    config:
      import: optional:file:.env.local.properties
  docker:
    compose:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: portfolio-api